input {
  width: 90%;
  height: 100%;
  border-color: none;
  border: none;
  margin-right: -5px;
  font-size: 3rem;
  color: rgb(82, 82, 82);
}
input:focus {
  outline: none;
}

button {
  height: 100%;
  width: 100%;
  border: none;
  color: rgb(233, 66, 66);
  font-weight: 900;
  font-size: 2.8em;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: none;
}
